In [2]:
import pandas as pd
from hdfs import InsecureClient
import os

client_hdfs = InsecureClient('http://192.168.110.114:50070')

liste_hello = ['hello00','hello01']
liste_world = ['world00','world01']

df = pd.DataFrame(data = {'ello' : liste_hello, 'orld': liste_world})
# Writing Dataframe to hdfs
with client_hdfs.write('/mydata/helloworld00_test.csv', encoding = 'utf-8') as writer:
    df.to_csv(writer)

In [3]:
# ====== Reading files ======
with client_hdfs.read('/mydata/helloworld00_test.csv', encoding = 'utf-8') as reader:
    readdf=pd.read_csv(reader,index_col=0)

In [5]:
readdf

      ello     orld
0  hello00  world00
1  hello01  world01